/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* CUSTOM PROPERTIES */
:root {

    /* margin */
    --space-margin-large: 30px;
    --space-margin-small: 20px;

    /* padding */
    --space-padding-large: 35px;

    /* font size */
    --size-large: 2.5rem;
}


/* UTILY */
body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    line-height: 1.7;
}

.flex-end {
    justify-content: end;
}


/* COMMON */
.conteiner {
    width: 70%;
    margin: 0 auto;
}

.flex {
    display: flex;
}


/* BUTTON */
.btn-small {
    display: inline-block;
    text-align: center;
    height: 31px;
    width: 72px;
    line-height: 31px;
    border-radius: 15px;
    font-size: 0.8rem;  
}

.btn-large {
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 220px;
    line-height: 50px;
    border-radius: 25px;
    font-size: 0.9rem;
}

.btn-small:hover,.btn-large:hover {
    scale: 1.1;
}


/* BACKGROUND */
.bg-gray {
    background-color: #ebebeb;
}

.bg-white {
    color: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);   
}

.bg-black {
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);   
}

.bg-violet {
    color: rgb(255, 255, 255);
    background-color: #8EA1E1;
    border: 1px solid #8EA1E1;   
}

/* HEADER */
/* HEADER TOP */
header {
    color: white;
    padding-top: 15px;
    background-color: rgb(37, 94, 233); 
}

.logo-discord {
    height: 27px;
}

.header-top.flex {
    height: 40px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.col-20 {
    width: 20%;
}

.col-60 {
    width: 60%;
}

/* NAVIGATION */
ul {
    list-style: none;
}

.list-header-top.flex {
    justify-content: center;
    gap: 15px;
}

/* HEADER BOTTOM */
.header-bottom {
    text-align: center;
    height: 497px;
    padding-top: 100px;
    background-image: url(../img/jumbo.png);
    background-size: cover;   
}

.content-header-bottom-w40 {
    width: 40%;
    margin: 0 auto;
}

.title-header-bottom {
    font-size: 3rem;
    margin-bottom: 30px;
}

.header-bottom  p {
    margin-bottom: 25px;
}

.navbar-header-bottom > a {
    margin-left: 13px;
}

/* MAIN */
.main {
    padding-top: 15px;
}

.main img {
    width: 80%;
}

/* altra soluzione per stilizzare gli h2 nel main oltre alle custom properties */
/* .main h2 {
    font-size: 2.5rem;
    padding-top: 35px;
    margin-bottom: 20px;
} */


/* SECTION TOP */
.section-top.flex {
    margin-top: var(--space-margin-large);
}

.section-top.flex h2 {
    font-size: var(--size-large);
    padding-top: var(--space-padding-large);
    margin-bottom: var(--space-margin-small);
}

.col-large {
    width: 70%;
}

.col-small {
    width: 30%;
}


/* SECTION MIDDLE 1 */
.section-middle-1.flex {
    flex-direction: row-reverse;
    margin-top: var(--space-margin-large);
}

.section-middle-1.flex .col-large {
    text-align: right;
}

.section-middle-1.flex h2 {
    font-size: var(--size-large);
    padding-top: var(--space-padding-large);
    margin-bottom: var(--space-margin-small);
}


/* SECTION MIDDLE 2 */
.section-middle-2.flex {
    margin-top: var(--space-margin-large);
}

.section-middle-2.flex h2 {
    font-size: var(--size-large);
    padding-top: var(--space-padding-large);
    margin-bottom: var(--space-margin-small);
}


/* SECTION BOTTOM */
.section-bottom {
    text-align: center;
    margin-top: var(--space-margin-large);
    padding-bottom: 80px;
}

.section-bottom h2 {
    font-size: var(--size-large);
    padding-top: var(--space-padding-large);
    margin-bottom: var(--space-margin-small);
}

.bg-img.flex {
    justify-content: center;
}

.bg-img.flex > h3 {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 50px;
    width: 360px;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}

/* footer */
/* footer top */
footer {
    background-color: #23272A;
    padding-top: 7px;
}

.footer-top.flex {
    height: 400px;
    margin-bottom: 20px;
    border: 1px dashed black;
}

.col-w35 {
    width: 35%;
    /* debug */
    background-color: #F08080;
    border: 1px dashed black;
}

.col-w65 {
    width: 65%;
    /* debug */
    background-color: #20B2AA;
    border: 1px dashed black;
}

.col-w25 {
    width: 25%;
    border: 1px dashed white;
}

/* footer bottom */
.border-divisore {
    border: 1px solid gray;
    margin-bottom: 15px;
}


.footer-bottom.flex {
    justify-content: space-between;
    height: 40px;
    padding: 10px 0;
    background-color: #7FFFD4;
}


.footer-bottom.flex p {
    width: 60px;
    text-align: center;
    background-color: #FFB6C1;
    border: 1px dashed black;
}



